@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&display=swap');

.LoginContainer{
    min-height: 100vh;
    width: 100%;
    align-items: center;    
    display: flex;
    justify-content: center;
    margin: auto;
}

.LoginContent{
    background-color:#ffffff;
    width: 500px;
    height: 600px;
    border-radius: 5px;
    display: flex;
    position: relative;
    margin: auto;

}

.RegisterContent{
    background-color:#ffffff;
    width: 500px;
    border-radius: 5px;
    display: flex;
    position: relative;
    margin: auto;
    margin-left: 50px;
}

.LoginContent form,.RegisterContent form{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    font-size: 20px;
    width: 100%;
}

.LoginContent form img,.RegisterContent img{
    width: 180px;
    height: 180px;
    margin: auto;
}

.LoginContent label,.RegisterContent label{
    margin-bottom: 5px;
}

.LoginContent input,.RegisterContent input{
    height: 40px;
    margin-bottom: 15px;
    border-radius: 4px;
    border:1px solid #c1c0c0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    
}

.LoginContent button,.RegisterContent button{
    width: 100%;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    border:1px solid black;
    background-color: #357960;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    border: none;

}

.HRContainer{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.HrLeft{
    width: calc((100%/8) * 3.5)
}

.HrRight {
    width: calc((100%/8) * 3.5)
}

.OR_Div{
    width: 50px;
    text-align: center;
    font-size: 15px;
}

.HRContainer hr{
    height: 1px;
    border: none;
    background: #666;
}

.RegisterIMG{   
    height: 100%;
}

.LateralBarContainer{
    width: 300px;
    background-color:#ffffff;
    display: flex;
    border-right: 1px solid #c1c0c0;
    transition: width 450ms ease;
    left: 0;
    z-index: 1;
}

.LateralBarContainer li{
    opacity: 1;
    transition: ease-in-out 1s ;
}

.LateralBarContainer.hide li{
    opacity: 0;
    transition:ease-in-out 300ms;
}


.HomePageContainer{
    height: 100vh;
    min-height: 100%;
    display: flex;
    width: 100%;
}

.LateralBarContainer.hide{
    width: 80px;
}

.HomePageContent{
    min-height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.LateralBarHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 1s;
    height: 125px;
}

.LateralBar{
    width: 100%;
}

.LateralBarImg{
    width: 25px;
    height: 25px;
    cursor:pointer
}


.LateralBar ul{
 margin-top:20px;
 padding-inline-start:0;
}

.LateralBarList{
    display:flex;
    align-items: baseline;
    border-radius: 5px;
}

.LateralBarList img{
    width: 25px;
    height: 25px;
    margin-right: 18px;
    margin-left: 20px;
}

.LateralBarImg{
transition: all 500ms;
}

.LateralBarContainer.hide .LateralBarImg{
    transform: rotateY(180deg);
}

.LateralBar li{
    list-style: none;
    font-size: 20px;
    line-height: 60px;
}

.LateralBarList:hover{
 background-color: #b7decd;
 cursor: pointer;
}

.Header{
    height: 80px;
    width: 90%;
    top:0;
    display: flex;
    border-bottom: 1px solid rgb(218, 218, 218);
    margin: auto;
    position: relative;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}


.ConsultsContainerMenu{
    width: 80%;
    max-width: 100%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    justify-content:space-around;
    align-items: center;
    position: relative;
    margin: auto;
}


.schedulingContainer{
    height: 280px;
    border: 1px solid #c1c0c0;
    border-radius: 8px;
    width: 300px;
    margin-left: 10px;
    align-items: center;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    font-family: 'Poppins', sans-serif;
      
}

.schedulingContainer:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #b7decd;
}

.schedulingContainer h1{
    margin-left: 10px;
    font-size: 25px;
}

.schedulingContainer a{
    text-decoration:none;
    color:black;
}

.EmployeeContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.RegisterContent select{
    height: 40px;
    font-size: 20px;
}

.RegisterContent option{
    font-size: 20px;
}

.containerTable{
    width: 100%;
    
}

.table-Subcontainer{
    margin-top: 20px;
    min-height: 100vh;
}


.tableButton{
    width: 80px;
    height: 25px; 
    border:none;
    border-radius: 5px;
    /* border: 1px solid black; */
    cursor: pointer;
    margin-right: 5px;
}

.Edit{
    background-color: #2663c7;
    color:rgb(255, 255, 255);
}

.Delete{
    background-color: #e83e3e;
    color:rgb(255, 255, 255);
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 100px;
  }


  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #b7decd;

  }


  .container_Input_DoctorList{
    display: flex;
    width: 500px;
    height: 40px;
    border:1px solid rgb(188, 188, 188);
    align-items: center;
    overflow: hidden;
    margin-left: 160px;
    border-radius: 4px;
  }

  .container_Input_DoctorList input{
    width: 100%;
    max-height: 100%;
    height: 100%;
    border:none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
 
  }

  .container_Input_DoctorList input:focus{
    outline: none;
  }

  .container_Input_DoctorList img{
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }


.To_scheduleContainer{
    min-height: 100vh;
    width: 100%;
}

.To_scheduleContent{
    width: 100%;
    margin: auto;
    margin-top: 30px;
    justify-content: center;
    height: 400px
}

.To_scheduleContent select{
    width: 100%;
    height: 40px;
    font-size: 20px; 
    border: 1px solid #c1c0c0;
    border-radius: 5px;

}

.InputsContent{
    display: flex;
    flex-direction: column;
    width: 600px;
    position: relative;
    
}

.InputsContent input{
    height: 40px;
    border: 1px solid #c1c0c0;
    border-radius: 5px;
    padding-left: 10px;
}   


.InputsContent label{
    font-size: 25px;
}


 .InputsContent button{
    width: 120px;
    height: 35px;
    background-color: black;
    color:white;
    border:none;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    /* position: absolute; */
    bottom: 200px;
    right:20px;
    font-weight: bold;
 }


 .TableScheduleButton{
    margin:auto;
    background-color:#fff;
    border:1px solid black;
    border-radius:5px;
    height: 30px;
    cursor:pointer;
    width: 85px;
 }

 .SchedulesContainer{
    min-height: 100vh;
    width: 100%;
 }

 .SchedulesContent{
    margin-top: 20px;
 }


 .SchedulesContent table{
    width: 95%;
 }

/* 
 .SchedulesContent button{
    width: 80px;
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 5px;
 } */

 .statusSchedule{
    width: 16px;
    height: 16px;
    margin: auto;
    border-radius: 50%;

 }

 .Active{
    background-color: rgb(22, 219, 84);
    border: 1px solid (22, 219, 84);
    box-shadow: 0px 0px 3px 3px rgb(116, 255, 146);
 }


 .Finished{
    background-color: #373aff;
    box-shadow: 0px 0px 3px 3px rgb(119, 187, 255);
 }

 .Canceled{
    background-color: rgb(219, 22, 22);
    box-shadow: 0px 0px 3px 3px rgb(186, 51, 51);
 }

