.App{
    display: flex;
}

.LoginContainer{
    min-height: 100vh;
    min-width: 100%;
    align-items: center;    
    display: flex;
    justify-content: center;
    margin: auto;
}

.LoginContent{
    background-color:#ffffff;
    width: 500px;
    height: 600px;
    border-radius: 5px;
    display: flex;
    position: relative;
    margin: auto;

}

.RegisterContent{
    background-color:#ffffff;
    width: 500px;
    border-radius: 5px;
    display: flex;
    position: relative;
    margin: auto;
    margin-left: 50px;
}

.LoginContent form,.RegisterContent form{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    font-size: 20px;
    width: 100%;
}

.LoginContent form img,.RegisterContent img{
    width: 200px;
    height: 200px;
    margin: auto;
}

.LoginContent label,.RegisterContent label{
    margin-bottom: 5px;
}

.LoginContent input,.RegisterContent input{
    height: 40px;
    margin-bottom: 15px;
    border-radius: 4px;
    border:1px solid #c1c0c0;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    
}

.LoginContent button,.RegisterContent button{
    width: 100%;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    border:1px solid black;
    background-color: #484545;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;

}

.HRContainer{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.HrLeft{
    width: calc((100%/8) * 3.5)
}

.HrRight {
    width: calc((100%/8) * 3.5)
}

.OR_Div{
    width: 50px;
    text-align: center;
    font-size: 15px;
}

.HRContainer hr{
    height: 1px;
    border: none;
    background: #666;
}

.RegisterIMG{   
    height: 100%;
}

.LateralBarContainer{
    height: 100%;
    width: 300px;
    background-color:#ffffff;
    display: flex;
    border-right: 1px solid #c1c0c0;
    transition: width 450ms ease;
}

.LateralBarContainer.hide{
    width: 80px;
}


.LateralBarContainer li{
    opacity: 1;
    transition: ease-in-out 1s ;
}

.LateralBarContainer.hide li{
    opacity: 0;
    transition:ease-in-out 300ms;
}

.LateralBar{
    width: 100%;

}


.LateralBarHeader{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 1s;
    height: 125px;
}

.LateralBarImg{
    width: 25px;
    height: 25px;
}


.LateralBar ul{
 margin-top:20px;
 padding-inline-start:0;
}

.LateralBarList{
    display:flex;
    align-items: baseline;
    border-radius: 5px;
}

.LateralBarList img{
    width: 25px;
    height: 25px;
    margin-right: 18px;
    margin-left: 20px;
}

.LateralBarImg{
transition: all 500ms;
}

.LateralBarContainer.hide .LateralBarImg{
    transform: rotateY(180deg);
}

.LateralBar li{
    list-style: none;
    font-size: 20px;
    line-height: 60px;
}

.LateralBarList:hover{
 background-color: #dcdcdc;
 cursor: pointer;
}

.Header{
    height: 65px;
    width: 100%;
    background-color: #ffffff;
    top:0;
    display: flex;
    border-bottom: 1px solid rgb(218, 218, 218);
}


.HomePageContainer{
    width: 100%;
    min-height: 100vh;

}

.Dashboard1{
    width: 600px;
}