.App{
    display: flex;
}

.LateralBarContainer{
    height: 100vh;
    width: 300px;
    background-color:#ffffff;
    display: flex;
    border-right: 1px solid rgb(193, 192, 192);
    overflow-x: hidden;
    transition: width 450ms ease;
}

.LateralBarContainer li{
    opacity: 1;
    transition: ease-in-out 1s ;
}

.LateralBarContainer.hide{
    width: 80px;
}


.LateralBarContainer.hide li{
    opacity: 0;
    transition:ease-in-out 300ms;
}

.LateralBar{
    width: 100%;
}

.LateralBarHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.LateralBarHeader img{
   width: 25px;
   height: 25px;
}

.LateralBar ul{
 margin-top: 40px;
 padding-inline-start:20px;
}

.LateralBarList{
    display:flex;
    align-items: baseline;
}

.LateralBarList img{
    width: 25px;
    height: 25px;
    margin-right: 18px;
}

.LateralBarImg{
transition: all 500ms;
}

.LateralBarContainer.hide .LateralBarImg{
    transform: rotateY(180deg);
}

.LateralBar li{
    list-style: none;
    font-size: 20px;
    margin-bottom: 40px;
}

.Header{
    height: 65px;
    width: 100%;
    background-color: #ffffff;
    top:0;
    display: flex;
    border-bottom: 1px solid rgb(218, 218, 218);
}


.HomePageContainer{
    width: 100%;
    height: 100vh;

}

.Dashboard1{
    width: 600px;
}